<?xml version="1.0" encoding="UTF-8" ?>

<!--
#########################################
# Copyright (c) it0uchpods Design Group #
#########################################
-->

<PropertyList>

 <path>CONFIG.ac</path>

		<animation>
		<type>textranslate</type>
		<object-name>elevator.right.up</object-name>
		<property>/controls/flight/elevator-pos</property>
		<interpolation>
			<entry><ind>-1.0</ind><dep>0.5</dep></entry>
			<entry><ind>0.0</ind><dep>0.0</dep></entry>
		</interpolation>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
			<animation>
		<type>textranslate</type>
		<object-name>elevator.right.down</object-name>
		<property>/controls/flight/elevator-pos</property>
		<interpolation>
			<entry><ind>1.0</ind><dep>0.5</dep></entry>
			<entry><ind>0.0</ind><dep>0.0</dep></entry>
		</interpolation>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
				<animation>
		<type>select</type>
		<object-name>elevator.right.down</object-name>
		<condition>
		<less-than>
		<property>/controls/flight/elevator-pos</property>
		<value>0.99</value>
		</less-than>
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>elevator.right.down.green</object-name>
		<condition>
		<greater-than>
		<property>/controls/flight/elevator-pos</property>
		<value>0.99</value>
		</greater-than>
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>elevator.right.up</object-name>
		<condition>
		<greater-than>
		<property>/controls/flight/elevator-pos</property>
		<value>-0.99</value>
		</greater-than>	
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>elevator.right.up.green</object-name>
		<condition>
		<less-than>
		<property>/controls/flight/elevator-pos</property>
		<value>-0.99</value>
		</less-than>
		</condition>
	</animation>
	
	
	
	
	
	
	
			<animation>
		<type>textranslate</type>
		<object-name>aileron.right.outer.down</object-name>
    <property>surface-positions/right-aileron-pos-norm</property>
		<interpolation>
			<entry><ind>1.0</ind><dep>0.5</dep></entry>
			<entry><ind>0.0</ind><dep>0.0</dep></entry>
		</interpolation>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
				<animation>
		<type>textranslate</type>
		<object-name>aileron.right.outer.up</object-name>
    <property>surface-positions/right-aileron-pos-norm</property>
		<interpolation>
			<entry><ind>-1.0</ind><dep>0.5</dep></entry>
			<entry><ind>0.0</ind><dep>0.0</dep></entry>
		</interpolation>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.right.outer.down</object-name>
		<condition>
		<less-than>
    <property>surface-positions/right-aileron-pos-norm</property>
		<value>0.99</value>
		</less-than>
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.right.outer.down.green</object-name>
		<condition>
		<greater-than>
    <property>surface-positions/right-aileron-pos-norm</property>
		<value>0.99</value>
		</greater-than>
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.right.outer.up</object-name>
		<condition>
		<greater-than>
    <property>surface-positions/right-aileron-pos-norm</property>
		<value>-0.99</value>
		</greater-than>	
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.right.outer.up.green</object-name>
		<condition>
		<less-than>
    <property>surface-positions/right-aileron-pos-norm</property>
		<value>-0.99</value>
		</less-than>
		</condition>
	</animation>
	
	
	
	
				<animation>
		<type>textranslate</type>
		<object-name>aileron.left.outer.down</object-name>
    <property>surface-positions/left-aileron-pos-norm</property>
		<interpolation>
			<entry><ind>1.0</ind><dep>0.5</dep></entry>
			<entry><ind>0.0</ind><dep>0.0</dep></entry>
		</interpolation>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
				<animation>
		<type>textranslate</type>
		<object-name>aileron.left.outer.up</object-name>
    <property>surface-positions/left-aileron-pos-norm</property>
		<interpolation>
			<entry><ind>-1.0</ind><dep>0.5</dep></entry>
			<entry><ind>0.0</ind><dep>0.0</dep></entry>
		</interpolation>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.left.outer.down</object-name>
		<condition>
		<less-than>
    <property>surface-positions/left-aileron-pos-norm</property>
		<value>0.99</value>
		</less-than>
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.left.outer.down.green</object-name>
		<condition>
		<greater-than>
    <property>surface-positions/left-aileron-pos-norm</property>
		<value>0.99</value>
		</greater-than>
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.left.outer.up</object-name>
		<condition>
		<greater-than>
    <property>surface-positions/left-aileron-pos-norm</property>
		<value>-0.99</value>
		</greater-than>	
		</condition>
	</animation>
	
					<animation>
		<type>select</type>
		<object-name>aileron.left.outer.up.green</object-name>
		<condition>
		<less-than>
    <property>surface-positions/left-aileron-pos-norm</property>
		<value>-0.99</value>
		</less-than>
		</condition>
	</animation>
	
	
	
	
			<animation>
		<type>textranslate</type>
		<object-name>flaps.10</object-name>
		<property>surface-positions/flap-pos-norm</property>
		<factor>0.5</factor>
		<step>0.2</step>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
				<animation>
		<type>textranslate</type>
		<object-name>flaps.1</object-name>
		<property>surface-positions/flap-pos-norm</property>
		<factor>5</factor>
		<step>0.02</step>
		<axis>
			<x>0</x>
			<y>1</y>
			<z>0</z>
		</axis>
	</animation>
	
						<animation>
		<type>select</type>
		<object-name>SLAT EXT</object-name>
		<condition>
		<greater-than>
        <property>surface-positions/slats</property>
		<value>0.01</value>
		</greater-than>	
		</condition>
	</animation>
	
				<text>
		<name>SLAT EXT</name>
		<offsets>
			<x-m>0.0013</x-m>
			<y-m>0.012</y-m>
			<z-m>0.0338</z-m>
		</offsets>
		<alignment>right-center</alignment>
		<axis-alignment>yz-plane</axis-alignment>
		<type type="string">text-value</type>
		<format type="string">SLAT EXT</format>
		<property>autopilot/serviceable</property>
		<font>helvetica_bold.txf</font>
		<character-size>0.006</character-size>
		<character-aspect-ratio type="double">1.2</character-aspect-ratio>
	</text>


</PropertyList>
